/* File: pages/popup/src/Popup.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  width: 100%;
  display: flex;              /* Added */
  flex-direction: column;     /* Added */
  align-items: center;        /* Added to center children horizontally */
}

.App-logo {
  height: 80px;
  margin-bottom: 20px;
}

.description {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #d1d5db; /* Tailwind's gray-300 */
}

button {
  transition: transform 0.2s;
}